container_commands:
  01_make_executable:
    command: "chmod +x scripts/createadmin.py"
    leader_only: true
  02_migrate:    
    command: "python manage.py migrate rocketscience"
  04_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  05_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: DeClash/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: DeClash/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: DeClash.settings
  - option_name: AWS_SECRET_KEY
    value: secret_here
  - option_name: AWS_ACCESS_KEY_ID
    value: key_here