<body>
<link href="/static/app/lib/css/about.css" rel="stylesheet">

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">About De<strong>Clash</strong></h1>
    <p class="lead blog-description">Bringing Debaters Together</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">What is DeClash?</h2>

        <p>The mission of the DeClash project is to bring debaters together. In its current form, DeClash provides an easy-to-use service to make debating practices faster and more efficient. Training directors can set up a practice session, debaters can register online, and teams, rooms and speaking positions can be automatically allocated through an algorithm. All in just a few clicks.</p>
        <p>DeClash is a continuation of a project of mine which was an Excel VBA Macro with the use of Google Forms for online registration. The project was used by the UBC Debate Society in late 2013 with success. So I decided to extend its capabilities by bringing the service to the cloud, enabling more opportunity for growth.</p>
        <p>Currently, DeClash supports 3 formats: British Parliamentary, Asian Parliamentary(or any 3v3), Canadian Parliamentary(or any 2v2 with teams being able to select their position preferences.)</p>
        <p>If you are interested in using this for your club, please contact <a href="mailto:enquiry@declash.com" class="lead">enquiry@declash.com</a>.</p>
        <br/>
        <h4>Still In Development</h4>
        <p>As this website is still under heavy-development, do expect some bugs to appear. If anything is not working right, please send an email to <a href="mailto:feedback@declash.com" class="lead">feedback@declash.com</a> with a description of what went wrong.</p>
        <p>There are a few critical functions that I would like to implement as soon as possible. One of them is room pairing preference.</p>
        <p>More importantly, if there are some functions that you would really like in this website, please do email <a href="mailto:feedback@declash.com" class="lead">feedback@declash.com</a> and I'll definitely see how I can deliver that!</p>
        <br/>
        <h4>Strategy & Promise</h4>
        <p>Currently, the website is free as it is still under a testing phase, and Amazon provides a free year of hosting. Going forward, if there is enough demand for this service, I will set up some kind of a monetization strategy to support server hosting. This will most likely be in the form of a monthly subscription but nothing is decided yet.</p>
        <p>My promise to you: If I do decide to discontinue development of this service, I will open source all the code for this website and hopefully somebody else is able to support this service after me.</p>
        <br/>
        <h4>Forward</h4>
        <p>My main focus now will be to improve the reliability of my algorithm, add important features from your suggestions and improve the User Experience for the website.</p>
        <p>Moving forward, I am seriously considering providing a new service for tournament tabbing. I've tabbed a few tournaments before and have found that many of the tabbing softwares fall short in terms of usability. I might want to improve that situation, depending on how much time I am able to devote to this project, as well as the project's reception.</p>
        <br/><br/>
        <p>Finally, enjoy! Looking forward to your feedback. :)</p>


      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>The Creator</h4>
        <p>My name is Wilfred Wee and I'm an undergraduate completing his second year in the University of British Columbia, intending to obtain a Combined Major in Business and Computer Science.</p>
        <p>Debate has been a big part of me and this is a small way to try to bring the community into the era of the cloud. =)</p>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
  <p><a href="mailto:enquiry@declash.com">Enquire about how you could get an account.</a></p>
</div>

<script type="text/javascript">
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement('style')
  msViewportStyle.appendChild(
    document.createTextNode(
      '@-ms-viewport{width:auto!important}'
    )
  )
  document.querySelector('head').appendChild(msViewportStyle)
}
</script>
</body>


